.about {
  &__content {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;

    &__personalWrapper {
      width: 100%;
      position: relative;

      &__personalInfo {
        display: flex;
        align-items: center;

        &__logo {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          max-height: 220px;
          height: auto;
          width: 260px;
          margin-bottom: 10%;
        }
      }
      h3 {
        margin-bottom: 14px;
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--yellow-theme-main-colour);
      }

      p {
        color: var(--yellow-theme-sub-text-colour);
        font-size: 1.8rem;
        line-height: 1.65;
        padding-bottom: 20px;
        border-bottom: 1px dashed var(--yellow-theme-main-colour);
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      ul > li {
        line-height: 1rem;
        margin-bottom: 15px;

        span.title {
          color: var(--yellow-theme-main-colour) !important;
        }
        span.title,
        span.value {
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.5px;
          position: relative;
          display: inline-block;
          margin-right: 16px;
          padding-bottom: 5px;
          color: var(--yellow-theme-sub-text-colour);
        }
        span.value {
          border: none;
        }
      }
    }
    &__servicesWrapper {
      h3 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        color: var(--yellow-theme-main-colour);
      }
      &__innerContent {
        width: 350px;
        height: 350px;
        // margin-top: 40px;
        background: radial-gradient(
          180px,
          var(--yellow-theme-main-colour),
          transparent 90%
        );
        position: relative;
        border-radius: 50%;
        border: 1.5px solid var(--yellow-theme-main-colour);
        animation: rotation 10s linear 1s infinite;
        div:nth-child(1) {
          position: absolute;
          top: -11%;
          left: 41.5%;
        }
        div:nth-child(2) {
          position: absolute;
          right: -8%;
          top: 41.5%;
        }
        div:nth-child(3) {
          position: absolute;
          bottom: -10%;
          left: 42%;
        }
        div:nth-child(4) {
          position: absolute;
          left: -8%;
          top: 41.5%;
        }
        div {
          text-align: center;
        }
        div > p {
          font-size: 1.5rem;
          font-weight: 700;
          font-family: "Playfair Display", serif;
          color: var(--yellow-theme-main-colour);
        }
      }
    }
  }
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .about__content {
    flex-direction: column;

    &__personalWrapper,
    &__serviceWrapper {
      width: 100%;
    }

    &__servicesWrapper {
      margin: 20px 0;
      &__innerContent {
        width: 250px;
        height: 250px;
        background: radial-gradient(
          100px,
          var(--yellow-theme-main-colour),
          transparent 120%
        );
        div:nth-child(1) {
          top: -15%;
          left: 38.5%;
        }
        div:nth-child(2) {
          right: -11%;
          top: 41.5%;
        }
        div:nth-child(3) {
          bottom: -12%;
          left: 38%;
        }
        div:nth-child(4) {
          left: -12%;
          top: 41.5%;
        }
      }
    }
  }
}
